<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Qumbu_Community_Health_Care_Center</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LandingStyle.css" asp-append-version="true" />
    @*    <link rel="stylesheet" href="~/Qumbu_Community_Health_Care_Center.styles.css" asp-append-version="true" />
    *@
</head>
<body >
    <header>
        <div id="header">
            <img width="110" height="75" src="~/css/Pictures/LOGO-removebg-preview.png" alt="" />

        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info opacity-50 border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Privacy"> About Us </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index"> Contact Us </a>
                        </li>
                        @*<li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy"> |Counselling(Mental Health)| </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index"> |Family planning| </a>
                        </li>*@

                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>


    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="align-content-center"></div>
            <div class="row align-content-center   ">

                <div class="col-4 row row-cols-1 row-cols-md-2 g-4">
                    <div class="card bg-transparent text-center border-0" style="width: 14rem;">
                        <img src="~/css/Pictures/vacc.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <a href="#" class="btn btn-info align-content-center ">Vaccination</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 row row-cols-1 row-cols-md-2 g-4">
                    <div class="card bg-transparent text-center border-0" style="width: 14rem;">
                        <img src="~/css/Pictures/family.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <a href="#" class="btn btn-info align-content-center">Family Planning</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 row row-cols-1 row-cols-md-2 g-4">
                    <div class="card bg-transparent text-center border-0" style="width: 14rem;">
                        <img src="~/css/Pictures/Prenatal.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <a href="#" class="btn btn-info align-content-center">Pre-Natal Care</a>
                        </div>
                    </div>
                </div>

                <div class="col-4 row row-cols-1 row-cols-md-2 g-4">
                    <div class="card bg-transparent text-center border-0" style="width: 14rem;">
                        <img src="~/css/Pictures/counseling-icon-4.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <a href="#" class="btn btn-info align-content-center">Counselling(Mental Health & Wellness</a>
                        </div>
                    </div>
                </div>


                <br />
                <div class="col-4 row row-cols-1 row-cols-md-2 g-4">
                    <div class="card bg-transparent text-center border-0" style="width: 14rem;">
                        <img src="~/css/Pictures/walk_in.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <a href="#" class="btn btn-info align-content-center">Walk-in</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    @* <footer class="border-top footer text-black">
    <div class="container">
    &copy; 2023 - Qumbu_Community_Health_Care_Center - <a asp-area="" asp-controller="Home" asp-action="Privacy">Help</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>