@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_HomeLayout";
}

<div class=" text-center align-text-Bottom ">
    <h1 class="display-5 fw-bold align-text-bottom text-primary">Welcome to Qumbu community Health Care Services</h1>
   
</div>

